extends layout

block content 
    
    div.layoutspace
        div.container
            form(id='form' method="post" action="/loggedin")
                p Username: 
                    p
                        input(type='text' name='username') 
                p Password: 
                    p
                        input(type='text' name='password')
                p Email: 
                    p
                        input(type='text' name='email')
                p Age: 
                    p
                        input(type='text' name='age')
                br
                h2 Questions:
                br
                p Favorite Pony?
                    text=q1
                    p
                        input(type='text' name='ans1')
                p Favorite Cutie Mark?
                    text(id='q2')
                    p
                        input(type='text' name='ans2')
                p Who would win? Twilight Sparkle or Goku?
                    text(id='q3')
                    p
                        input(type='text' name='ans3')
                br
                p 
                    input(type='submit' value='Create Account')
                
                a.loginLink(href='/login') Already have an account?