extends layout

block content
    
    div.layoutspace
        div.container
            form(id='form' method="post" action="/create/Account")
                p Username : 
                    p
                        input(type='text' name='username') 
                p Password : 
                    p
                        input(type='password' name='password')
                p Email : 
                    p
                        input(type='text' name='email')
                p Age : 
                    p
                        input(type='number' name='age')
                br
                h2 Questions :
                br
                p Favorite Pony?
                    text=q1
                    p
                        div.dropdown
                            select(id="select1" name="select1")
                                option(value='twilight' name='twilight')
                                    | Twilight Sparkle
                                option(value='applejack' name='applejack')
                                    | Applejack
                                option(value='rainnowdash' name='rainbowdash')
                                    | Rainbow Dash
                                option(value='rarity' name='rarity')
                                    | Rarity
                                option(value='fluttershy' name='fluttershy')
                                    | Fluttershy
                                option(value='pinkie' name='pinkiepie')
                                    | Pinkie Pie
                p Favorite Cutie Mark?
                    text(id='q2')
                    p
                        div.dropdown
                            select(name='select2' id='select2')
                                option(value='twilights' name='twilights')
                                    | Twilight Sparkle's
                                option(value='applejacks' name='applejacks')
                                    | Applejack's
                                option(value='rainbowdashs' name='rainbowdashs')
                                    | Rainbow Dash's
                                option(value='raritys' name='raritys')
                                    | Rarity's
                                option(value='fluttershys' name="fluttershys")
                                    | Fluttershy's
                                option(value='pinkies' name="pinkies")
                                    | Pinkie Pie's
                p Who would win? Twilight Sparkle or Goku?
                    text(id='q3')
                    p
                        div.dropdown
                            select(id="select3" name="select3")
                                option(value='twilight' name="twilight")
                                    | Twilight Sparkle
                                option(value='goku' name="goku")
                                    | Goku
                br
                p 
                    input(type='submit' value='Create Account')
                
                a.loginLink(href='/login') Already have an account?