extends layout

block content
    
    div.layoutspace
        div.container
            form(id='form' method="post" action="/loggedin")
                p Username : 
                    p
                        input(type='text' name='username') 
                p Password : 
                    p
                        input(type='password' name='password')
                p Email : 
                    p
                        input(type='text' name='email')
                p Age : 
                    p
                        input(type='number' name='age')
                br
                h2 Questions :
                br
                p Favorite Pony?
                    text=q1
                    p
                        div.dropdown
                            select
                                option(value='twilight')
                                    | Twilight Sparkle
                                option(value='applejack')
                                    | Applejack
                                option(value='raindbow')
                                    | Rainbow Dash
                                option(value='rarity')
                                    | Rarity
                                option(value='flutter')
                                    | Fluttershy
                                option(value='pinkie')
                                    | Pinkie Pie
                p Favorite Cutie Mark?
                    text(id='q2')
                    p
                        div.dropdown
                            select
                                option(value='twilight')
                                    | Twilight Sparkle's
                                option(value='applejack')
                                    | Applejack's
                                option(value='raindbow')
                                    | Rainbow Dash's
                                option(value='rarity')
                                    | Rarity's
                                option(value='flutter')
                                    | Fluttershy's
                                option(value='pinkie')
                                    | Pinkie Pie's
                p Who would win? Twilight Sparkle or Goku?
                    text(id='q3')
                    p
                        div.dropdown
                            select
                                option(value='twilight')
                                    | Twilight Sparkle
                                option(value='goku')
                                    | Goku
                br
                p 
                    input(type='submit' value='Create Account')
                
                a.loginLink(href='/login') Already have an account?