extends loggedinLayout 

block logged-content
block head-block
    link(rel="stylesheet" href="edit.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    body 
        div.layoutspace
            div(class="container")
                div(class="leftbox")
                    nav(class="navbar2") 
                        a(href="/profile" class="overview")
                            i(class="fa fa-user")
                        a(href="/edit" class="edit")
                            i(class="fa-solid fa-pencil")
                        a(href="/delete" class="delete")
                            i(class="fa-solid fa-user-xmark")
                        a(href="/" class="signout")
                            i(class="fa-solid fa-right-from-bracket")
                div(class="rightbox")
                    div(class="profile")
                        h1 Delete Account?
                            form(id='form' method="post" action="/deleteprof")
                                .deleteContainer 
                                    div.space
                                        h2.deleteh2 Your Username
                                            text 
                                        input(class='userInput' type='text' name='username' value=usernameVal )
                                        input(type='submit' value='Delete Account')