extends loggedinLayout 

block logged-content
block head-block
    link(rel="stylesheet" href="edit.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    body 
        div.layoutspace
            div(class="container")
                div(class="leftbox")
                    nav(class="navbar2") 
                        a(href="/profile" class="overview")
                            i(class="fa fa-user")
                        a(href="/edit" id="editID" class="edit")
                            i(class="fa-solid fa-pencil")
                        a(href="/delete" class="delete")
                            i(class="fa-solid fa-user-xmark")
                        a(href="/" class="signout")
                            i(class="fa-solid fa-right-from-bracket")
                div(class="rightbox")
                    div(class="profile")
                        h1 Edit Account
                            form(id='form' method="post" action="/editprof")
                                div.editLeft
                                    div.space
                                    h2 Username
                                        text 
                                    input(type='text' name='username' value=usernameVal )
                                    div.space
                                    h2 Password
                                        text 
                                    input(type='text' name='password'  value=passVal)
                                    div.space
                                    h2 Email
                                        text 
                                    input(type='text' name='email'   value=emailVal)
                                    div.space
                                    h2 Age
                                        text 
                                    input(type='number' name='age' value=ageVal )
                                div.editRight
                                    h2 Favorite Pony?
                                        text(id='q1')
                                    div.dropdown
                                        select(name='select1', id='select1')
                                            option(value='twilight' name='twilight')
                                                | Twilight Sparkle
                                            option(value='applejack' name='applejack')
                                                | Applejack
                                            option(value='rainbowdash' name='rainbowdash')
                                                | Rainbow Dash
                                            option(value='rarity' name='rarity')
                                                | Rarity
                                            option(value='fluttershy' name='fluttershy')
                                                | Fluttershy
                                            option(value='pinkiepie' name='pinkiepie')
                                                | Pinkie Pie
                                    div(class="space")
                                    h2 Favorite Cutie Mark?
                                        text(id='q2')
                                    div.dropdown
                                        select(name='select2' id='select2')
                                            option(value="twilights" name="twilights")
                                                | Twilight Sparkle's
                                            option(value="applejacks" name="applejacks")
                                                | Applejack's
                                            option(value= "rainbowdashs" name="rainbowdashs")
                                                | Rainbow Dash's
                                            option(value="raritys" name="raritys")
                                                | Rarity's
                                            option(value="fluttershys" name="fluttershys")
                                                | Fluttershy's
                                            option(value="pinkies" name="pinkies")
                                                | Pinkie Pie's
                                    div(class="space")
                                    h2  Who would win? Twilight Sparkle or Goku?
                                        text(id='q3')
                                    div.dropdown
                                        select(id="select3" name="select3")
                                            option(value='twilight' name="twilight")
                                                | Twilight Sparkle
                                            option(value="goku" name="goku")
                                                | Goku
                                input(class='editBtn' type='submit' value='Update Account')