extends layout

block content 
    div.layoutspace
        div.indexContainer
            h1 Welcome to Neumont MLP 

        div.boxContainer
            div.box
                p Your Favorite Pony?
                canvas.q1
            div.box
                p Your Favorite Cutie Mark?
                canvas.q2
            div.box
                p Who would win?
                p Twilight Sparkle or Goku?
                canvas.q3