extends layout

block content 
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

    div.layoutspace
        div.indexContainer
            h1 Welcome to Neumont MLP 
        div.boxContainer
            div.box
                p Your Favorite Pony?
                canvas(id='barChart' width='400' height='200')
                script(src='/js/chart1.js')
            div.box
                p Your Favorite Cutie Mark?
                canvas(id='barChart2' width='400' height='200')
                script(src='/js/chart2.js')
            div.box
                p Who would win?
                p Twilight Sparkle or Goku?
                canvas(id='barChart3' width='400' height='200')
                script(src='/js/chart3.js')