extends layout

block content 
    div.layoutspace
        div.indexContainer
            h1 Welcome to the Poniverse!
            p Discover the magic of friendship in our Poniverse

            h2 Recent Annoucements
            ul
                li
                li
                li
            h2 Explore Poniverse
            
            ul
                li
                    a(href='/profile') Your Profile
                li
                    a(href='/edit') Edit Account
                li
                    a(href='/delete') Delete Account

            