doctype
html 
    head
        title Poniverse
        link(rel='stylesheet', href='styles.css')
    body 
    header.header
        a.logo(href='/') Cutie Mark Crusaders
        nav.navbar
            a(href='/create') Login/Register
block content