html 
    head
        title MLP
        link(rel='stylesheet', href='loggedStyles.css')
        block head-block
    body 
    header.header
        a.logo(href='/') Cutie Mark Crusaders
        nav.navbar
            a(href='/profile') Your Profile 
            a(href='/edit') Edit Profile 
            a(href='/delete') Delete Account 
            a(href='/logout') Log out
        block logged-content