extends layout 

block content 

    form(id="loginform" action="/logged/in" method="post") 
        p Username: 
            input(type="text" name="username")
        p Password: 
            input(type="text" name="password")
        p 
            input(type="submit" value="Log in")
    p=errorMsg