extends layout 

block content 
    div.layoutspace
        div.loginContainer
            form(id="loginform" action="/profile/login" method="post") 
                p Username: 
                    p
                        input(type="text" name="username")
                p.loginp Password: 
                    p
                        input(type="text" name="password")
                p.loginp 
                    p
                        input.loginBtn(type="submit" value="Login")
            p=errorMsg
            a.createLink(href='/create') Don't have an account yet?