extends loggedinLayout 

block logged-content
block head-block
    link(rel="stylesheet" href="profile.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    body
        div.layoutspace
            div(class="container")
                div(class="leftbox")
                    nav(class="navbar2") 
                        a(href="/profile" class="overview")
                            i(class="fa fa-user")
                        a(href="/edit" class="edit")
                            i(class="fa-solid fa-pencil")
                        a(href="/delete" class="delete")
                            i(class="fa-solid fa-user-xmark")
                        a(href="/" class="signout")
                            i(class="fa-solid fa-right-from-bracket")
                div(class="rightbox")
                    div(class="profile")
                        h1 Profile Overview
                        div(class="space")
                            h2 Username
                            p Username Placeholder
                        div(class="space")
                            h2 Email 
                            p Email Placeholder
                        div(class="space")
                            h2 Password 
                            p *********