@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:ital@1&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background: url("/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.06s;

}

header .logo {
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
    transform-origin: right;

}

.navbar a:hover::before {
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;

}

.layoutspace {
    padding-top: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #87c4d8;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(43, 99, 118);
    width: 500px;
    height: 720px;
    margin: 0 auto;
    margin-top: -70px;
}

input[type=submit]{
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    font-size: large;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:white;
    background-color: #459fbd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(10, 103, 134);
}

p{
    font-weight: bold;
    font-size: larger;
    color: #0a6786;
    text-align: center;
}


input[type=text]{
    height: 30px;
    color: #0a6786;
    border-radius: 5px;
    border-color: rgb(10, 103, 134);
    background-color: rgb(184, 214, 224);
    text-align: center;
}

input[type=number]{
    height: 30px;
    color: #0a6786;
    border-radius: 5px;
    border-color: rgb(10, 103, 134);
    background-color: rgb(184, 214, 224);
    text-align: center;
}

input[type=password]{
    height: 30px;
    color: #0a6786;
    border-radius: 5px;
    border-color: rgb(10, 103, 134);
    background-color: rgb(184, 214, 224);
    text-align: center;
}

h2 {
    text-align: center;
    color: #0a6786;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(135, 196, 216);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(43, 99, 118);
    width: 350px;
    height: 375px;
    margin: 0 auto;
}

.loginBtn {
    margin-top: 30px;
    margin-bottom: 50px;
}

.loginp {
    margin-top: 10px;
}

.indexContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.loginLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

.createLink {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 250px;
}

.dropdown select {
    margin-left: 28%;
    height: 30px;
    width: 44%;
    color: #0a6786;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(10, 103, 134);
    background-color: rgb(184, 214, 224);
    text-align: center;
}

.dropdown option {
    color: #0a6786;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-evenly;
}

.box {
    height: auto;
    padding-top: 10px;
    margin: 5px;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5s);
    background-color: #87c4d8;
    border-radius: 30px;
    border: 3px solid #0a6786;

}

canvas {
    margin-top: 20px;

}

#barChart3 {
    padding-bottom: 20px;
}